# pytest
.pytest_cache/
htmlcov/
coverage.xml

# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

#folders
generated_users/
images_captcha_test/
images_login_captcha/